body
{
    font-family: Verdana;
    color: white;
    background-image: url("https://www.maxpixel.net/static/photo/1x/Cube-Texture-Model-Pattern-Dark-Background-3d-3211627.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    }
a:hover {
  background-color: yellow;
}
tr {
    background-color: whitesmoke;
    text-align: center;
    }
h1 {
    background-color: azure;
    color: darkslategray;
    min-width: 450px;
    max-width: 650px;
    text-align: center;
    }
